
{{> header}}

<section id="marquee-section">
    <marquee><h2 class="scroll-text">Welcome to the Signify Session 2024-2025 || We are glad to have you here!</h2></marquee>
</section>

<main>
    <div class="poster-card">
        <img src="/assets/a.jpg" alt="Image 1">
        <button class="join-btn">Join Now</button>
    </div>
    <div class="poster-card">
        <img src="/assets/b.jpg" alt="Image 2">
        <button class="join-btn">Join Now</button>
    </div>
    <div class="poster-card">
        <img src="/assets/c.jpg" alt="Image 3">
        <button class="join-btn">Join Now</button>
    </div>
</main>

{{> footer}}
